/* All the colors were stracted from http://brandcolors.net/ */

.google:hover{
	color: #db4437;
}

.facebook:hover{
	color: #3b5998;
}

.instagram:hover{
	color: #3f729b;
}

.skype:hover{
	color: #00aff0;
}

.linkedin:hover{
	color: #0077b5;
}

.twitter:hover{
	color: #55acee;
}

.pinterest:hover{
	color: #cc2127;
}

.google_plus:hover{
	color: #dd4b39;
}

.github:hover{
	color: #4183c4;
}
.airbnb:hover{
	color: #fd5c63;
}

